<div class="container-fluid">
  <div class="d-flex">
    <!--左側・ユーザー情報-->
    <div class="sidebar">
      <%= render 'info', user: @user %>
    </div>
    <!--右側・各種一覧-->
    <div class="border border-2" style="max-width: 1410px">
      <!--タブ-->
      <ul class="nav nav-tabs">
        <li class="active nav-item">
          <%= link_to "ユーザーの投稿一覧", user_path(@user), class: "nav-link #{'active-tab' if params[:tab_type].nil?}" %>
        </li>
        <li class="nav-item">
          <%= link_to "いいね！した投稿一覧", user_path(@user, tab_type: 'favorite_posts'), class: "nav-link #{'active-tab' if params[:tab_type] == 'favorite_posts'}" %>
        </li>
        <li class="nav-item">
          <%= link_to "フォロー中一覧", user_path(@user, tab_type: 'followings'), class: "nav-link #{'active-tab' if params[:tab_type] == 'followings'}" %>
        </li>
        <li class="nav-item">
          <%= link_to "フォロワー一覧", user_path(@user, tab_type: 'followers'), class: "nav-link #{'active-tab' if params[:tab_type] == 'followers'}" %>
        </li>
      </ul>
      <div class="tab-content">
        <%# if @favorite_posts.present? %>
        <% if params[:tab_type] == 'favorite_posts' %>
          <%= render 'posts/index', posts: @favorite_posts, line: false %>
        <% elsif params[:tab_type] == 'followings' %>
          <%= render 'index', users: @followings %>
        <% elsif params[:tab_type] == 'followers' %>
          <%= render 'index', users: @followers %>
        <% else %>
          <%= render 'posts/index', posts: @posts, line: false %>
        <% end %>
      </div><!--タブの中身ここまで-->
    </div><!--右側ここまで-->
  </div>
</div>

<!--<li class="active nav-item">-->
<!--  <a class="nav-link" aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">ユーザーの投稿一覧</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--  <a class="nav-link" aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">いいね！した投稿</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--  <a class="nav-link" aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">フォロー中一覧</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--  <a class="nav-link" aria-controls="tab_d" data-toggle="tab" href="#tab_d" role="tab">フォロワー一覧</a>-->
<!--</li>-->