<div class="container">
  <div class="row d-flex">
    <!--左側・ユーザー情報-->
    <div class="col-md-4 border border-2">
      <div>
        <%= image_tag @user.get_icon %>
      </div>
      <h4 class="my-2"><%= @user.name %></h4>
      <div>
        <%= @user.description %>
      </div>
      <!--設定・フォロー・停止ボタン-->
      <div>
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog mr-2"></i>設定する
          <% end %>
        <% elsif @user.is_admin? %>
          <%= link_to edit_user_path(@user), class: "btn btn-danger btn-block" do %>
            <i class="fas fa-ban mr-2"></i>停止する
          <% end %>
        <% end %>
      </div>
    </div>
    <!--右側・各種一覧-->
    <div class="col-auto border border-2">
      <ul class="nav nav-tabs">
        <li class="nav-item border border-2 border-info d-flex"><%= link_to "投稿一覧", posts_path, class: "nav-link text-reset" %></li>
        <li class="nav-item border border-2 border-info"><%= link_to "いいね！した投稿", posts_path, class: "nav-link text-reset" %></li>
        <li class="nav-item border border-2 border-info"><%= link_to "フォロー中・フォロワー", root_path, class: "nav-link text-reset" %></li>
      </ul>
    </div>
  </div>
</div>