<% parts_name ||= 'default' %>
<% other_class ||= 'scroll-area-for-top overflow-y-scroll' %>
<div class="w-100 scroll-area<%= other_class.present? ? " #{other_class}" : '' %><%= parts_name.present? ? " #{parts_name}" : '' %>">
<div class="<%= line ? 'card-line' : "card-box scroll-list_#{parts_name} jscroll_#{parts_name}" %>" style="max-width: 1450px">
  <% posts.each do |post| %>
    <%= link_to post_path(post) do %>
    <!--カード一つ一つ-->
      <div class="card">
        <div class="card-body px-2 pb-0">
          <h5 class="card-title post-link" style="height: 100px"><%= post.title.truncate(45, omission: "...") %></h5>
          <!--投稿者情報を表示する-->
          <%= render "posts/author", post: post %>
          <div class="d-flex align-items-center">
            <!--いいね！ボタン-->
            <div class="favorite-btn_<%= post.id %>">
              <%= render "favorites/favorite-btn", post: post %>
            </div>
            <p class="date ml-auto"><%= "投稿日時："+post.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="<%= parts_name.presence %>">
    <%= paginate posts %>
  </div>
</div>
</div>

<script>

$('.<%= parts_name.present? ? parts_name : 'scroll-area' %>').on('scroll', function() {
  $('.jscroll_<%= parts_name.present? ? parts_name : '' %>').jscroll({
    contentSelector: '.scroll-list_<%= parts_name.presence %>',
    nextSelector: '<%= parts_name.present? ? ".#{parts_name} span.next:last a" : 'span.next:last a' %>'
  });
})

  // 無限スクロールの処理
// $(window).on('scroll', function() {
//     scrollHeight = $(document).height();
//     scrollPosition = $(window).height() + $(window).scrollTop();
//     if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
//           $('.jscroll').jscroll({
//             contentSelector: '.scroll-list',
//             nextSelector: 'span.next:last a'
//           });
//     }
// });
</script>