<div class="container-fluid">
  <div class="row">
    <%= render "image", post: @post %><!--左側  画像エリア-->
    <!--右側  文章エリア-->
    <div class="col-xxl-4 col-lg-5 col-md-6" style="height: 990px">
      <h2 class="ml-2"><%=safe_join(@post.title.split("\n"),tag(:br))%></h2>
      <!--投稿詳細の疑似ヘッダー-->
      <div class="d-flex ml-2">
        <%= render "posted_user", post: @post %>
        <div class="ml-2 ">
          <%= "投稿日時："+@post.created_at.strftime("%Y年%m月%d日 %H:%M") %><br>
          <%= "更新日時："+@post.updated_at.strftime("%Y年%m月%d日 %H:%M") %>
        </div>
        <!--いいね！ボタン-->
        <div class="ml-4 favorite-btn_<%= @post.id %>">
          <%= render "favorites/favorite-btn", post: @post %>
        </div>
        <!--投稿者だけに編集ボタン、投稿者と管理者に削除ボタンを表示-->
        <div class="ml-auto">
        <% if @post.user == current_user || current_user.is_admin? %>
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-outline-info" %><br>
          <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
        </div>
      </div><!--疑似ヘッダーここまで-->
      <div class="overflow-auto p-2" style="background-color:#fff2e5">
        <%= simple_format(@post.content) %>
      </div>
      <!--コメント欄-->
      <div class="my-4 comment_list">
        <%= render 'post_comments/comment_list', post: @post, post_comments: @post_comments %>
      </div>
      <div class="comment_form">
        <%= render 'post_comments/comment_form', post: @post, post_comment: @post_comment %>
      </div>
    </div><!--右側ここまで-->
  </div>
</div>