<div class="container-fluid">
  <div class="row">
    <!--左側  画像エリア-->
    <div class="col-6 overflow-auto p-0" style="height: 990px">
    <!--画像を中心基準で幅700で切り抜く(高さはそのままにするために適当に大きな数値)-->
    <% @post.image.each do |image| %>
      <div class="ml-auto mr-4" style="width: 700px">
        <%= image_tag image.variant( gravity: "center", crop: "700x1500+0+0").processed %>
      </div>
    <% end %>
    </div>
    <!--左側ここまで-->
    <!--右側  文章エリア-->
    <div class="col-6" style="width:40%; height: 990px">
      <h2 class="ml-2"><%=safe_join(@post.title.split("\n"),tag(:br))%></h2>
      <!--投稿詳細の疑似ヘッダー-->
      <div class="d-flex ml-2">
        <%= render "posted_user", post: @post %>
        <div class="ml-2 ">
          <%= "投稿日時："+@post.created_at.strftime("%Y年%m月%d日 %H:%M") %><br>
          <%= "更新日時："+@post.updated_at.strftime("%Y年%m月%d日 %H:%M") %>
        </div>
        <div class="ml-4">
        <%= link_to root_path, class: "text-muted" do %>
          <i class="far fa-heart mr-2"></i><%= @post.favorite_count %><br>
        <% end %>
          <i class="far fa-comments mr-2"></i>
        </div>
        <!--投稿者だけに編集・削除ボタンを表示-->
        <div class="ml-auto">
        <% if @post.user == current_user %>
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-outline-info" %><br>
          <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
        </div>
      </div>
      <!--疑似ヘッダーここまで-->
      <!--入力された改行(\n)をHTMLに反映させて本文を表示-->
      <div class="overflow-auto p-2" style="background-color:#fff2e5">
        <%=safe_join(@post.content.split("\n"),tag(:br))%>
      </div>
    </div>
    <!--右側ここまで-->
  </div>
</div>