<header class="sticky-top shadow-sm" style="background-color:#e3f2fd;">
  <nav class="navbar navbar-expand-lg p-0">
    <!--headerの左側-->
    <div class="justify-content-start d-flex mr-auto">
      <a class="navbar-brand py-0" href="/"><%= image_tag("logo.png", style: "max-width: 425px;") %></a>
      <div class="mt-5">
        <% if user_signed_in? %><!--ようこそメッセージ-->
        <p class="font-weight-bold"><%= current_user.is_admin? ? "管理者ログイン中！" : "ようこそ、#{current_user.name}さん！" %></p>
        <% else %>
          <p class="font-weight-bold">ようこそ、訪問者さん！</p>
        <% end %><!--ようこそメッセージここまで-->
        <ul class="nav nav-tabs nav-pills" role="tablist">
          <li class="nav-item"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "投稿一覧", posts_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "フォロー中", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "投稿する", new_post_path, class: "nav-link" %></li>
          <% if user_signed_in? && current_user.is_admin? %>
            <li class="nav-item"><%= link_to "ユーザー一覧", users_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <!--headerの右側-->
    <div class="col-auto container mx-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div>
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <!--userがログインしている時-->
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-secondary ml-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary ml-3" %>
            </li>
          <% else %>
          <!--ログインしていない時 -->
            <li class="nav-item">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary ml-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary ml-3" %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div><!--headerの右側ここまで-->
  </nav>
</header>